<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:tools="http://schemas.android.com/tools"
	package="com.elroid.wirelens"
	xmlns:android="http://schemas.android.com/apk/res/android"
	>

	<uses-feature android:name="android.hardware.wifi" android:required="true"/>
	<uses-feature android:name="android.hardware.camera" android:required="true" />

	<!--normal permissions-->
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

	<!--runtime/dangerous permissions-->
	<!--write ext storage for camera/gallery-->
	<uses-permission android:name="android.permission.CAMERA" />
	<!--course location for wifi scanning-->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

	<application
		android:name=".App"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="GoogleAppIndexingWarning"
		>
		<activity
			android:name=".ui.start.StartActivity"
			android:theme="@style/AppTheme.NoActionBar"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".ui.importer.ImporterActivity"
			android:label="@string/app_name"
			android:theme="@style/AppTheme.NoActionBar"
			>
			<intent-filter>
				<action android:name="android.intent.action.SEND"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="image/*"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".ui.main.MainActivity"
			android:theme="@style/AppTheme.NoActionBar"
			/>
		<activity
			android:name=".ui.manual.ManualConnectActivity"
			/>


		<activity
			android:name=".ui.test.TestActivity"
			/>
		<activity
			android:name=".ui.test.TestKotlinActivity"
			/>

		<service android:name=".data.local.ConnectorService"/>

		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="${applicationId}.fileprovider"
			android:exported="false"
			android:grantUriPermissions="true"
			>
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths"
				/>
		</provider>

	</application>

</manifest>